<div class="col-sm-12">
	<article class="article-show">
		<div class="space-between">
			<h2><%= @contact.title %></h2>
			<% if Date.today.strftime("%Y%m%d") == @contact.created_at.strftime("%Y%m%d") %>
	            <time><%= @contact.created_at.strftime('%H:%m') %></time>
	        <% elsif Date.today.strftime("%Y") == @contact.created_at.strftime("%Y") %>
	            <time><%= @contact.created_at.strftime("%m月%d日(#{%w(日 月 火 水 木 金 土)[@contact.created_at.wday]}) %H:%m") %></time>
	        <% else %>
	            <time><%= @contact.created_at.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[@contact.created_at.wday]}) %H:%m") %></time>
	        <% end %>
		</div>
		<h3 class="contact-name"><%= @contact.name %></h3>
        <p class="contact-email"><%= @contact.email %></p>
	    <p class="contact-body2"><%= @contact.body %></p>
	</article>
</div>
