<div class="col-sm-12">
	<div class="form">
		<h2>記事の編集<h2>
		<%= form_with model: @post, url: admin_post_path, local: true do |f| %>
			<div class="field">
				<%= f.label :タイトル %><br>
				<%= f.text_field :title %>
			</div>
			<div class="field">
				<%= f.label :タグ %><br>
				<%= f.text_field :tag_name, value: @tag_lists %>
			</div>
			<div class="field">
				<%= f.label :ステータス %><br>
				<%= f.select :status, Post.statuses_i18n.keys %>
			</div>
			<div class="field">
				<%= f.label :本文 %><br>
				<%= f.rich_text_area :body %>
			</div>
			<div class="actions success">
				<%= f.submit "更新", class: "btn btn-success" %>
			</div>
			<div class="actions">
				<%= link_to "記事を削除", admin_post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
			</div>
		<% end %>
	</div>
</div>
