<div class="col-sm-12">
	<div class="form">
		<h2>記事の作成<h2>
		<%= form_with model: @post, url: admin_posts_path, local: true do |f| %>
			<div class="field">
				<%= f.label :タイトル %><br>
				<%= f.text_field :title %>
			</div>
			<div class="field">
				<%= f.label :タグ %><br>
				<%= f.text_field :tag_name %>
			</div>
			<div class="field">
				<%= f.label :ステータス %><br>
				<%= f.select :status, Post.statuses_i18n.keys.map{|k|[I18n.t("enums.post.status.#{k}"), k]} %>
			</div>
			<div class="field">
				<%= f.label :本文 %><br>
				<%= f.rich_text_area :body %>
			</div>	
			<div class="actions"><br>
				<%= f.submit "作成" %>
			</div>
		<% end %>	
	</div>
</div>









