<div class="col-sm-12">
  <article class="article-show">
    <ul class="space-around">
      <li>
          <%= @post.created_at.strftime('%Y-%m-%d') %>
      <% unless @post.created_at.strftime('%Y-%m-%d') == @post.updated_at.strftime('%Y-%m-%d') %>
          (更新日：<%= @post.updated_at.strftime('%Y-%m-%d') %>)
      <% end %>
      </li>
      <li><%= @post.status_i18n %></li>
      <li><%= link_to '編集', edit_admin_post_path(@post) %></li>
    </ul>
    <h2><%= @post.title %></h2>
    <ul class="flex">
      <% @post.tags.each do |tag| %>
        <li><%= link_to tag.tag_name, admin_posts_path(tag_id: tag.id) %></li>
     <% end %>
    </ul>
    <p><%= @post.body %></p>
  </article>
</div>

