<div class="col-xs-12 col-sm-8">
    <h3><%= @user.name %>のプロフィール</h3>
    <p><%= attachment_image_tag @user, :image, size: '300x300' %></p>
    <h4><%= @user.name %></h4>
    <p><%= @user.profile %></p>
</div>
<%= render 'posts/search_form' %>
