<div class="col-xs-12 col-sm-4">
    <div class="profile">
        <p><%= user.name %>のプロフィール</p>
        <p><%= attachment_image_tag user, :image, size: '200x200' %></p>
        <p><%= user.name %></p>
        <p><%= strip_tags(user.profile.to_s).gsub(/[\n]/,"").strip.truncate(50) %></p>
    </div>
    <div class="form-group">
        <%= form_tag search_posts_path, method: 'get' do %>
            <%= text_field_tag :search %>
            <%= submit_tag 'Search', :body => nil %>
        <% end %>
    </div>
    <div class="category">
        <ul>
            <% tags.each do |tag| %>
                <li><%= link_to tag.tag_name, posts_path(tag_id: tag.id) %></li>
            <% end %>
        </ul>
    </div>
</div>    
