<div class="col-xs-12 col-sm-8">
    <% if params[:tag_id] %>
        <%= @tag.tag_name %>
    <% end %>
    <% @posts.each do |post| %>
	    <% if post.published? %>
	        <ul>
	         <li><%= post.created_at.strftime('%Y-%m-%d') %></li>
    	    </ul>
	        <p><%= link_to post.title, post_path(post.id) %></p>
	        <ul>
		        <% post.tags.each do |tag| %>
    		      <li><%= link_to tag.tag_name, posts_path(tag_id: tag.id) %></li>
	    	    <% end %>
	        </ul>
         <ul>
                <li><%= strip_tags(post.body.to_s).gsub(/[\n]/,"").strip.truncate(30) %></li>
         </ul>
    	<% end %>
    <% end %>
</div>
<%= render 'search_form' %>

