<div class="col-xs-12 col-sm-8">
    <% if params[:tag_id] %>
        <p><%= @tag.tag_name %></p>
    <% end %>
    <% @posts.each do |post| %>
	    <% if post.published? %>
            <article>
                <p>
                    <time><%= post.created_at.strftime('%Y-%m-%d') %></time>
                </p>
                <h2><%= link_to post.title, post_path(post.id) %></h2>
                <ul class="flex">
                    <% post.tags.each do |tag| %>
                        <li><%= link_to tag.tag_name, posts_path(tag_id: tag.id) %></li>
                    <% end %>
                </ul>
                <p><%= strip_tags(post.body.to_s).gsub(/[\n]/,"").strip.truncate(120) %></p>
            </article>
    	<% end %>
    <% end %>
    <%= paginate @posts %>
</div>
<%= render 'search_form', user: @user, tags: @tags %>

