<div class="col-xs-12 col-sm-9">
    <p class="result">検索結果：<%= params[:search] %></p>
    <% @posts.each do |post| %>
        <article>
            <p><%= link_to post.title, post_path(post.id) %></p>
            <ul class="flex">
                <% post.tags.each do |tag| %>
                    <li><%= link_to tag.tag_name, posts_path(tag_id: tag.id) %></li>
                <% end %>
            </ul>
            <ul>
                <li><%= strip_tags(post.body.to_s).gsub(/[\n]/,"").strip.truncate(30) %></li>
            </ul>
        </article>
    <% end %>
</div>
<%= render 'search_form', user: @user, tags: @tags %>
